@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


@font-face {
  font-family: Marguaritas;
  src: url(/Resources/fonts/Marguaritas.ttf);
}


body{
    background-image: url("/Resources/images/Background.jpg")!important;
    font-family: 'Raleway', sans-serif;
    
}

.container{
    background-color: white !important;
}
.content{
    background-image: url("/Resources/images/Background.jpg")!important;
}

.bg-lightgray{
    background-image: url("/Resources/images/Background.jpg")!important;
}

.bg {
  /* The image used
    
  background-image: url("https://mymodernmet.com/wp/wp-content/uploads/2018/03/karl-shakur-travel-photos-1.jpg");
     */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-black {
    background-color: black !important;
}

.text-red {
    color: #CF381D!important
}
 
.text33{
    
    background: rgba(255,255,255,0.5) !important;
    display: block; 
    left:25%;
}



/*  image effect  */



logo{
	color:  black;
	font: normal 60px 'Marguaritas';
}

logo span{
	color:  #CF381D;
}


/* svg vero icon*/

.vero-icon{
    
    width:2em;
    height:2em;
   margin-bottom:22px;

    
}
.large{
    font-size: large;
}


/* Footer */
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
     color:black;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-in:hover {
     color: #66269e;
 }

 #social-em:hover {
     color: #f39c12;
 }
.vero-icon:hover {
     fill: #1aa3a2;
 }

footer1 {
  position: absolute;
    right: 0;
    left:0;
  bottom: 0;
  width: 100%;
}


.NunoSilva{
    color:gray;
    text-decoration: none;
    
}

.NunoSilva:hover{
    color:#CF381D;
    text-decoration: none;
    
}

/* form */




.form__container {
  background: #fff;
  margin: 0 auto;
  margin-top: 16px;
  padding: 32px;
  box-shadow: $bs;
  border-radius: 4px;
}

/* rotate */

#rotate{
-moz-transform: rotate(270.0deg);  /* FF3.5+ */
       -o-transform: rotate(270.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083";
    position: absolute;
    top:40%;
    left: 0px;
    color: black;
    z-index: 99999;
    position: fixed;
    
}
#rotate1{
-moz-transform: rotate(270.0deg);  /* FF3.5+ */
       -o-transform: rotate(270.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083";
    position: absolute;
    top:35%;
    left: 0px;
    color: black;
    z-index: 99999;
    position: fixed;
}
#rotate2{
-moz-transform: rotate(270.0deg);  /* FF3.5+ */
       -o-transform: rotate(270.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083";
    position: absolute;
    top:40%;
    left: 13px;
    color: black;
    z-index: 99999;
    position: fixed;
}
#rotate3{
-moz-transform: rotate(270.0deg);  /* FF3.5+ */
       -o-transform: rotate(270.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083";
    position: absolute;
    top:45%;
    left: 0px;
    color: black;
    z-index: 99999;
    position: fixed;
}
#rotate4{
-moz-transform: rotate(270.0deg);  /* FF3.5+ */
       -o-transform: rotate(270.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(270.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083";
    position: absolute;
    top:150%;
    left: 0px;
    color: black;
    position: absolute;
}


/* hidden images */

.hidden{
    display: none;
}

.loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    
}
.loadMore a {
    border: 1px #bbb solid;
    border-radius: 3px;
    color: #bbb;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    text-decoration: none;
}
.loadMore a:hover {
    background-color: #bbb;
    color: white;
    text-decoration: none;
}
